# =====================
# ENV FILES
# =====================
.env
.env.*
!.env.example

# =====================
# NODE / NEXT
# =====================
node_modules
.next
out
dist
build

# =====================
# PYTHON
# =====================
__pycache__
*.pyc
venv
.env/

# =====================
# DOCKER
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store

# =====================
# COVERAGE
# =====================
coverage
htmlcov
